wifi_ssid: "your-ssid"
wifi_password: "your-password"
fallback_password: "changeme123"
api_encryption_key: "" # generate with: esphome secrets or `openssl rand -base64 32`
ota_password: "changeme123"
web_server_username: "admin"
web_server_password: "changeme123"
